* {
  margin: 0;
  box-sizing: border-box;
}

.app {
  padding-bottom: 80px;
}
html,
body,
p,
span {
  height: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif, Helvetica,
    sans-serif, Times, serif;
  color: black;
}
.navbar {
  background-color: black;
  height: 140px;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.navbar-image {
  height: 100px;
  width: auto;
}

.navbar-prompt {
  margin: 20px;
}

.border-line {
  border-bottom: 2px solid #778899;
  width: 100%;
  margin: 10px 0;
}
.step-container {
  position: relative;
  padding-left: 15px;
  border-left: 8px solid #dcdcdc;
  margin: 15px 15px 0px 10px;
}
.step-outer-prompt {
  font-weight: bolder;
  font-size: clamp(1.4rem, 2vw, 2.5rem);
}

.step-inner-prompt {
  font-size: 0.9rem;
}

.toggle-buttons {
  display: flex;
  gap: 15px;
  margin-top: 15px;
}

.toggle-buttons button {
  background-color: transparent;
  font-weight: bolder;
  padding: 5px 10px;
  border: 2px solid black;
  cursor: pointer;
  transition: border-color 0.3s ease;
}

.toggle-buttons button:hover {
  border-color: #00bfff;
}

.toggle-buttons button.selected {
  border-color: #00bfff;
}

.toggle-buttons button.unselected {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.6),
    rgba(255, 255, 255, 0.8)
  );
  opacity: 0.7;
}

.brand-options {
  display: flex;
  gap: 15px;
  margin-top: 15px;
}

.brand-options button {
  background-color: #fff;
  border: 2px dashed black;
  padding: 0 5px 0 5px;
  cursor: pointer;
  transition: border-color 0.3s ease;
}

.brand-options button:hover {
  border-color: #00bfff;
}

.brand-logo {
  width: 80px;
  height: auto;
}
.brand-options button.selected {
  border: 2px solid #00bfff; /* Highlight the selected brand */
}

.brand-options button.unselected {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.6),
    rgba(255, 255, 255, 0.8)
  );
  opacity: 0.7;
}

.brand-model {
  display: grid;
  grid-template-columns: repeat(8, 1fr); /* 8 models per row on large screens */
  margin-top: 20px;
}

.brand-model button {
  background-color: #fff;
  border: none; /* Remove any default borders */
  padding: 10px;
  cursor: pointer;
  text-align: center;
  position: relative;
  margin-bottom: 15px;
}

.brand-model button:hover {
  border-bottom: 5px solid #00bfff;
}

.brand-model button.selected {
  border-bottom: 5px solid #00bfff;
  box-shadow: none;
}

.brand-model button.unselected {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.6),
    rgba(255, 255, 255, 0.8)
  );
  opacity: 0.7;
}
.brand-model button:not(:last-child) {
  border-right: 2px solid black;
}
.model-name {
  text-transform: uppercase;
  font-weight: bolder;
  font-size: clamp(0.9rem, 1.1vw, 2rem);
}
.model-logo {
  width: 90px;
  height: auto;
  margin-bottom: 5px;
}

.size-type {
  display: flex;
  gap: 15px;
  margin-top: 15px;
}

.size-type button {
  background-color: #fff;
  border: 2px dashed black;
  padding: 15px;
  cursor: pointer;
  transition: border-color 0.3s ease;
  font-weight: bolder;
  font-size: clamp(1rem, 1.2vw, 1.8rem);
}

.size-type button:hover {
  border-color: #00bfff;
}

.size-type button.selected {
  border: 2px solid #00bfff; /* Highlight the selected brand */
}

.size-type button.unselected {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.6),
    rgba(255, 255, 255, 0.8)
  );
  opacity: 0.7;
}

.sizes select {
  padding: 5px 15px 5px 5px;
  border: 2px solid black;
  border-radius: 5px;
  background-color: #fff;
  font-size: clamp(1.1rem, 1.1vw, 2rem);
  cursor: pointer;
  margin-top: 15px;
  width: 90px;
  height: auto;
  color: black;
}

.sizes select.selected {
  border-color: #00bfff;
  outline: none;
}

.final-container {
  position: relative;
  padding-left: 15px;
  border-left: 8px solid #00bfff;
  margin: 15px 15px 0px 10px;
}
.final-outer-prompt {
  font-weight: bolder;
  font-size: clamp(1.4rem, 2vw, 2.5rem);
  text-transform: uppercase;
}

.final-inner-prompt {
  font-size: 1rem;
  margin-top: 15px;
}

.final-border-line {
  border-bottom: 2px solid #778899;
  width: 30%;
  margin: 10px 0;
}

.image-and-table {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.model-image {
  width: 150px; /* Adjust the size of the image */
  height: auto;
  border-radius: 8px; /* Optional: gives a rounded border to the image */
}

.size-table {
  table-layout: fixed;
  width: 150px;
  border-collapse: collapse;
  border: none;
}

.size-table td {
  padding: 5px;
  border-right: 2px solid black;
}

.size-table td:last-child,
.size-table th:last-child {
  border-right: none;
}

.size-table tr:nth-child(odd) {
  background-color: #dcdcdc; /* Light gray background for odd rows */
}

.comfort-options {
  display: flex;
  gap: 15px;
  margin-top: 15px;
}

.comfort-options button {
  background-color: #fff;
  border: 2px dashed black;
  padding: 15px;
  cursor: pointer;
  transition: border-color 0.3s ease;
  font-size: clamp(1rem, 1.2vw, 1.8rem);
  font-weight: bolder;
}

.comfort-options button:hover {
  border-color: #00bfff;
}

.comfort-options button.selected {
  border: 2px solid #00bfff; /* Highlight the selected brand */
}

.comfort-options button.unselected {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.6),
    rgba(255, 255, 255, 0.8)
  );
  opacity: 0.7;
}

@media (max-width: 1200px) {
  .brand-model {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (max-width: 900px) {
  .brand-model {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 600px) {
  .brand-model {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 400px) {
  .brand-model {
    grid-template-columns: 1fr;
  }
}
