* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif, Helvetica,
    sans-serif, Times, serif;
}
.navbar {
  background-color: black;
  height: 140px;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.navbar-image {
  height: 80px;
  width: auto;
}

.navbar-prompt {
  margin: 20px;
}

.border-line {
  border-bottom: 2px solid #778899;
  width: 100%;
  margin: 10px 0;
}

.step-outer-prompt {
  font-weight: bolder;
  font-size: clamp(1.4rem, 2vw, 2.5rem);
}
.step-container {
  position: relative;
  padding-left: 15px;
  border-left: 8px solid #dcdcdc;
  margin: 15px 15px 0px 4px;
}

.step-inner-prompt {
  font-size: 0.9rem;
}

.toggle-buttons {
  display: flex;
  gap: 15px;
  margin-top: 15px;
}

.toggle-buttons button {
  background-color: transparent;
  font-weight: bolder;
  padding: 5px 10px;
  border: 2px solid black;
  cursor: pointer;
  transition: border-color 0.3s ease;
}

.toggle-buttons button:hover {
  border-color: #00bfff;
}

.toggle-buttons button.selected {
  border-color: #00bfff;
}

.toggle-buttons button.unselected {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.6),
    rgba(255, 255, 255, 0.8)
  );
  opacity: 0.7;
}

.brand-options {
  display: flex;
  gap: 15px;
  margin-top: 15px;
}

.brand-options button {
  background-color: #fff;
  border: 2px dashed black;
  padding: 0 5px 0 5px;
  cursor: pointer;
  transition: border-color 0.3s ease;
}

.brand-options button:hover {
  border-color: #00bfff;
}

.brand-logo {
  width: 80px;
  height: auto;
}
.brand-options button.selected {
  border: 2px solid #00bfff; /* Highlight the selected brand */
}

.brand-options button.unselected {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.6),
    rgba(255, 255, 255, 0.8)
  );
  opacity: 0.7;
}

.brand-model {
  display: grid;
  grid-template-columns: repeat(8, 1fr); /* 8 models per row on large screens */
  gap: 15px; /* Space between buttons */
  margin-top: 20px;
}

.brand-model button {
  background-color: #fff;
  border: none; /* Remove any default borders */
  padding: 10px;
  cursor: pointer;
  text-align: center;
  position: relative; /* Required for the right border */
}

.brand-model button:hover {
  border-bottom: 5px solid #00bfff; /* Highlight the selected brand */
}

.brand-model button.option.selected {
  border-bottom: 5px solid #00bfff; /* Highlight the selected brand */
}

.brand-model button.unselected {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.6),
    rgba(255, 255, 255, 0.8)
  );
  opacity: 0.7;
}

.model-logo {
  width: 100px; /* Adjust image size */
  height: auto;
  margin-bottom: 10px;
}

/* Add right border only */
.brand-model button:not(:last-child) {
  border-right: 2px solid black; /* Add solid border on the right side, except the last button in each row */
}

@media (max-width: 1200px) {
  .brand-model {
    grid-template-columns: repeat(
      6,
      1fr
    ); /* 6 models per row on medium screens */
  }
}

@media (max-width: 900px) {
  .brand-model {
    grid-template-columns: repeat(
      4,
      1fr
    ); /* 4 models per row on smaller screens */
  }
}

@media (max-width: 600px) {
  .brand-model {
    grid-template-columns: repeat(
      2,
      1fr
    ); /* 2 models per row on small screens */
  }
}

@media (max-width: 400px) {
  .brand-model {
    grid-template-columns: 1fr; /* 1 model per row on very small screens */
  }
}

.section {
  margin-bottom: 20px;
}

.options {
  display: flex;
  flex-wrap: wrap;
}

.sizes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
  gap: 0;
  justify-content: start;
}

.option,
.size-option {
  padding: 10px;
  margin: 5px;
  border: 1px solid #ccc;
  cursor: pointer;
  text-align: center;
}

.option.selected,
.size-option.selected {
  border-color: #007bff;
  background-color: #e7f0ff;
}
